<div class="col-md-4" id="creneau_{{ creneau.id }}">
    {% set couleur = creneau.couleur %}
    <!-- begin panel -->
    <div class="panel creneau {{ couleur }} {{ creneau.active ? '' : 'grisee' }} {{ creneau.enCours ? 'en-cours' : '' }}" >
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="{{ path('creneau_active', { 'id' : creneau.id } ) }}" class="btn btn-xs btn-icon btn-circle btn-success creneau_active"><i class="fa fa-repeat"></i></a>
                <a href="{{ path('creneau_disable', { 'id' : creneau.id } ) }}" class="btn btn-xs btn-icon btn-circle btn-danger creneau_disable"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title"><i class="fa fa-calendar"></i> <strong>{{ creneau.getDebut ? creneau.getDebut|date('H\\hi') : '' }}</strong> - {{ creneau.getFin ? creneau.getFin|date('H\\hi') : '' }}</h4>
        </div>
        <div class="panel-body {{ couleur }} {{ creneau.active ? '' : 'grisee' }} text-white">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="btn btn-sm btn-warning places-restantes">réservé : {{ weezjump_resa_services.checkQuantiteReserveeCreneau(creneau) }}</div>
                    </div>
                    {#<div class="col-md-6">
                        <div class="btn btn-sm btn-warning places-restantes">reste 1ère 30mn : {{ creneau_services.countPlacesRestantesPremiereMoitie(creneau) }}</div>
                    </div>#}
                    <div class="col-md-6">
                        <div class="btn btn-sm btn-warning places-restantes">Reste : {{ creneau_services.countPlacesRestantes(creneau) }}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="btn btn-sm btn-warning places-restantes">inscrits : {{ creneau.getQuantite() }}</div>
                    </div>
                    {#<div class="col-md-6">
                        <div class="btn btn-sm btn-warning places-restantes">reste 2ème 30mn : {{ creneau_services.countPlacesRestantesDeuxiemeMoitie(creneau) }}</div>
                    </div>#}
                    <div class="clearfix"></div>

                    <div class="col-md-12 m-t-15">
                        <select class="form-control select_categorie selectpicker"  data-id_creneau="{{ creneau.id }}" {{ creneau.active ? '' : 'disabled="disable"' }}>
                            <option value="">Choisissez votre entrée</option>
                            {% for categorie in categories %}
                                {% if not categorie.getHidden %}
                                    <option value="{{ categorie.id }}">{{ categorie.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>