{% extends 'layout.html.twig' %}

{% block sidebar %}
    {% set sidebar_active = 'user' %}
    {{ parent() }}
{% endblock  %}

{% block content %}

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="active">Utilisateurs</li>
            <li class="active">Enregistrement</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Nouvel utilisateur</h1>
        <!-- end page-header -->

        <!-- begin row : Première ligne -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                    <div class="panel-heading">

                        <h4 class="panel-title">Informations nouvel utilisateur</h4>
                    </div>
                    <div class="panel-body panel-form">
                        {{ form_start(form, { 'attr': { 'class': 'form-horizontal form-bordered', 'data-parsley-validate' : 'true'  } } ) }}
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="login">Login * :</label>
                            <div class="col-md-6 col-sm-6">
                                {{ form_widget(form.username, { 'attr': { 'class': 'form-control', 'data-parsley-required' : 'true', 'placeholder':"Login souhaité"  } } ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="nom">Nom * :</label>
                            <div class="col-md-6 col-sm-6">
                                {{ form_widget(form.nom, { 'attr': { 'class': 'form-control', 'data-parsley-required' : 'true', 'placeholder':"Nom"  } } ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="prenom">Prénom * :</label>
                            <div class="col-md-6 col-sm-6">
                                {{ form_widget(form.prenom, { 'attr': { 'class': 'form-control', 'data-parsley-required' : 'true', 'placeholder':"Prénom"  } } ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="email">Email * :</label>
                            <div class="col-md-6 col-sm-6">
                                {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'data-parsley-required' : 'true',  'data-parsley-type' : 'email', 'placeholder':"Email"  } } ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="mdp">Mot de passe * :</label>
                            <div class="col-md-6 col-sm-6">
                                {{ form_widget(form.plainPassword, { 'attr': { 'class': 'form-control', 'data-parsley-required' : 'true',  'data-parsley-type' : 'mdp', 'placeholder':"Mot de passe"  } } ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- end panel -->
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

{% endblock %}