<div class="panel panel-inverse" data-sortable-id="table-basic-1">
    <div class="panel-heading">
        <h4 class="panel-title">Gestion des tarifs</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Durée (en H)</th>
                    <th>Nbr de personnes</th>
                    <th>Masquer</th>
                    <th><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.symbole }}</td>
                        <td>{{ categorie.name|capitalize }}</td>
                        <td>{{ categorie.description }}</td>
                        <td>{{ categorie.duree }}</td>
                        <td>{{ categorie.quantite }}</td>
                        <td>
                            {% if categorie.hidden %}
                                <i class="fa fa-eye-slash"></i>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('categorie_edit', { 'id': categorie.id }) }}" title="Modifier ce tarif"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>   