<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enregistrement participant(s)</h4>
        </div>
        <div class="modal-body">
            <p>Veuillez choisir la quantité de participants à enregistrer pour la session choisie.</p>
            <p><strong>Type sélectionné : </strong>{{ categorie }}</p>
            {#{% set countPlacesRestantesPremiereMoitie = creneau_services.countPlacesRestantesPremiereMoitie(creneau) %}
            {% set countPlacesRestantesDeuxiemeMoitie = creneau_services.countPlacesRestantesDeuxiemeMoitie(creneau) %}
            <p><strong>1ère 30 min reste : </strong>{{ countPlacesRestantesPremiereMoitie > 0  ? countPlacesRestantesPremiereMoitie : 'Plus de place' }}</p>
            <p><strong>2ème 30 min reste : </strong>{{ countPlacesRestantesDeuxiemeMoitie > 0  ? countPlacesRestantesDeuxiemeMoitie : 'Plus de place' }}</p>
#}
            {% set countPlacesRestantes = creneau_services.countPlacesRestantes(creneau) %}
            <p><strong>Reste : </strong>{{ countPlacesRestantes > 0  ? countPlacesRestantes : 'Plus de place' }}</p>

        </div>
        <div class="modal-footer">
            {{ form_start(form) }}
            {% if form_errors(form) is not empty %}
                <div class="col-md-12 text-danger">
                    <div class="alert alert-danger">{{ form_errors(form) }}</div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="input-group number-spinner">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    {{ form_widget(form.quantite) }}
                    {{ form_widget(form.creneau) }}
                    {{ form_widget(form.categorie) }}
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
            <div style="margin-top: 15px;" class="col-md-12">
                <button type="submit" class="btn btn-block btn-primary">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>